@import url('https://fonts.googleapis.com/css2?family=Narnoor&display=swap');

* {
  text-shadow: 2px 2px 4px #70f847;
}

h2 {
  text-shadow: 2px 2px 4px #f44a0d;

  text-align: center;
  color: rgb(34, 20, 227);
}

p {
  background-color: rgb(174, 231, 212);
  font-style: oblique;
}

body {
  background: #fffec7 !important;
  text-align: center;
  font-family: 'Narnoor', serif;

}



form {
  background: #fb8d65;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 55px;
  box-shadow: inset 5px 5px 12px #180f0f, 5px 5px 12px rgba(27, 210, 239, 0.893);
}

label {
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px #000000;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  width: 80%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 5px 5px 12px rgba(245, 50, 50, 0.393),
    5px 5px 12px rgba(25, 39, 231, 0.406);
}

input[type="date"],
input[type="number"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: inset 5px 5px 12px rgba(212, 186, 17, 0.854),
    5px 5px 12px rgba(201, 234, 37, 0.758);
}

textarea {
  padding: 20px;
  margin: 10px;
  border-top-left-radius: 15px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 5px 5px 12px #cefc96,
    5px 5px 12px rgba(106, 111, 112, 0.893);
}

#myGender {
  margin: 10px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px #f4f750;
}

#eli {
  text-shadow: 2px 2px 4px #ecf40d;
}

input[type="submit"] {
  padding: 15px;
  margin-right: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: medium;
  box-shadow: inset 5px 5px 12px #85fe7a, 5px 5px 12px rgba(173, 245, 49, 0.893);
}

input[type="submit"]:hover {
  background-color: #68ff6d;
}

input[type="reset"]:hover {
  background-color: #fe4747;
}

input[type="reset"] {
  padding: 15px;
  margin-left: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: medium;
  box-shadow: inset 5px 5px 12px #ff5f5f,
    5px 5px 12px rgba(249, 171, 119, 0.893);
}

.error {
  color: red;
  margin-top: 5px;
}

#car {
  margin: 5px;
  padding: 15px;
  border-radius: 20px;
  border-style: none;
  box-shadow: inset 5px 5px 12px #180f0f,
    5px 5px 12px rgba(27, 210, 239, 0.893);
}