@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Ops+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(228, 221, 214);
    width: auto;
    font-family: 'Bebas Neue', cursive;
    height: auto;

}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 28px;
    padding: 32px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: #000000;
    }

.main {
    background-color: rgb(248, 251, 232);
    width: 100%;
}

.container {
    display: flex;
}

.infoContainer {
    /* background: linear-gradient(rgb(248, 182, 182), rgb(190, 190, 247)); */
    height: 68vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
}

.hello {
    font-size: 20px;
    font-family: 'Bruno Ace SC', cursive;


}

.name {

    font-size: 40px;
    font-family: 'Black Ops One', cursive;
}

.about {

    font-size: 15px;
    font-family: 'Bruno Ace SC', cursive;
}

.moreabout {
    font-size: 12px;
    font-family: 'Black Ops One', cursive;
    margin-top: 22px;

}

.buttons {
    margin-top: 34px;
}

.btn {
    background-color: dodgerblue;
    padding: 9px 14px;
    color: white;
    font-weight: bold;
    border-radius: 22px;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;

}

.btn:hover{
    background-color: #fff;
    color: dodgerblue;
}

.btn-sm{
font-size: 15px;
padding: 8px 10px;
margin: 10px 0;
}

.devPic img {
    height: 68vh;
}


.contactform{
    padding: 100px;
    font-family: 'Bruno Ace SC', cursive;


}
.contactform h1{
    font-family: 'Black Ops One', cursive;
text-align: center;
padding: 10px 0;

}

.contactform form div{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.contactform form input{
    padding: 4px;
    border-radius: 5px;
    width: 25vw;
    margin: 6px 0 0 0;

}

#emailHelp{
    font-size: 8px;
    color: grey;
    margin: 0 5px;
    padding: 4px 0 0 0;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;

}

.blogItem{
font-family: cursive;
    margin: 28px;
}
.blogItem p{
font-family: cursive;
    margin: 28px;
}

.blogContainer h1{
    font-family:sans-serif;
    margin: 25px;

}

